<button class="button {{ button.class }}" id="{{ button.id }}" data-draggable-width="{{ button.data-draggable-width }}" data-draggable-height="{{ button.data-draggable-height }}">{{ button.text }}</button>
